<%- include('header'); -%>

<div class="box" id="heading">
  <h1>This is the about page</h1>
</div>
<div class="box">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris metus ligula, iaculis vehicula tellus in, lobortis auctor risus. Pellentesque in fermentum erat. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
</div>

<%- include('footer'); -%>
